.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-items: stretch;
    row-gap: 0px;
    border: 1px solid;
    padding: 2em 10em 20em 10em;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}


.popup-logo {
    font-size: 25px;
    color: #D2042D;
    padding-top: 0px;
    position: absolute;
    align-self: center;
}

.popup-header {
    font-family: 'Oswald', sans-serif;
    align-self: center;
}


.input-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    padding-top: 2em;
    font-family: 'Merriweather', serif;
}

.input-box {
    border-radius: 5px;
    padding: 7px;
}


.popup-error {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: red;
    position: absolute;
}

.email {
    top: 17em;
}

.username {
    top: 24.5em;
}

.password {
    bottom: 35em;
}

.popup-submit-button {
    width: 100%;
    background-color: #D2042D;
    border: 0px solid;
    border-radius: 5px;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 0.7em;
    font-size: 15px;
    row-gap: 10em;
}

