.popup-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    border: 1px solid;
    padding: 2em 3em;
    border-radius: 1em;
    width: 28em;
    height: auto;
}


.popup-logo {
    font-size: 25px;
    color: #D2042D;
    padding-top: 0px;
    position: absolute;
    align-self: center;
}

.popup-header {
    font-family: 'Oswald', sans-serif;
    align-self: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    row-gap: 1em;
    padding-bottom: 2em;
}


.input-title {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
    font-family: 'Merriweather', serif;
}

.input-box {
    border-radius: 0.7em;
    padding: 0.5em;
}


.popup-error {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: red;
    margin: 0;
}

.popup-submit-button {
    width: 100%;
    background-color: #D2042D;
    border: 1px solid black;
    border-radius: 0.8em;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 0.7em;
    font-size: 15px;
    margin-top: 1em;
}
