.home-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    padding: 3em 5em 0em 5em;
}

.how-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explanation {
    position: relative;
    top: -1em;
    width: 35em;
    text-align: center;
}

.intro-text {
    font-size: 2.5em;
}

.homepage-images {
    height: 100%;
}

.redirects-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2em;
    width: 100%;
    height: 15em;
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.redirects-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.active {
    color: #007791;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

.active:hover {
    text-decoration: underline;
}

.join-squareUp {
    position: relative;
    top: 3em;
    padding: 1em 1.5em;
    background-color: #D2042D;
    color: white;
    box-shadow: 3px 3px 3px black;
    font-family: 'Oswald', sans-serif;
    border-radius: 0.7em;
}
