.groups-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-list {
    display: flex;
    column-gap: 1.5em;
    width: 40em;
}

.list-description {
    display: flex;
    column-gap: 1.5em;
    width: 40em;
    border-bottom: medium solid lightgray;
    padding-bottom: 0.5em;
}

.active-list {
    text-decoration: underline;
    color: teal;
    cursor: default;
}

.unactive-list {
    text-decoration: none;
    color: black;
}

.unactive-list:hover {
    text-decoration: underline;
    cursor: pointer;
}

.individual-groups {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 1em;
    border-bottom: medium solid lightgray;
    width: 40em;
    height: 10em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    cursor: pointer;
}

.group-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.group-div-right {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.group-title {
    font-size: 18px;
    font-weight: bold;
}

.group-location {
    font-size: smaller;
}

.group-about {
    overflow: hidden;
}

.group-div-left {
    width: 33%;
}
