.events-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-list {
    display: flex;
    column-gap: 1.5em;
    width: 40em;
}

.list-description {
    display: flex;
    column-gap: 1.5em;
    width: 40em;
    border-bottom: medium solid lightgray;
    padding-bottom: 1.5em;
}

.active-list {
    text-decoration: underline;
    color: teal;
    cursor: default;
}

.unactive-list {
    text-decoration: none;
    color: black;
}

.unactive-list:hover {
    text-decoration: underline;
    cursor: pointer;
}

.individual-events {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 1em;
    border-bottom: medium solid lightgray;
    width: 40em;
    height: 12em;
    padding-top: 1em;
    cursor: pointer;
}

.event-div-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 1em;
    height: 55%;
}

.event-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.event-div-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}

.event-div-left {
    width: 33%;
}

.event-div-bottom {
    height: 45%;
    overflow: auto;
}
