.hidden {
    display: none
}

.user-icon {
    font-size: 30px;
    padding: 3px;
}

.profile-button {
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-logo {
    color: brown;
    cursor: pointer;
}

.fa-solid .fa-gamepad {
    color: blue;
}
